[submodule "themes/spectral-theme"]
	path = themes/spectral-theme
	url = git@github.com:sbruder/spectral.git
[submodule "themes/papermod"]
	path = themes/papermod
	url = git@github.com:adityatelange/hugo-PaperMod.git
